.row{
    margin-bottom: 15px;
    background-color: white;


}
.row>div{
    border: 5px solid black;
    padding: 30PX;
    margin: 70px;
    background-color: grey;

 width: 500px;

}
#style1{


    border: solid 2px;

    font-size: 25px;
    margin: -30px -30px 45px 25px;
    background-color: black;
    width: 150px;
    font-size: 25px;

    float: right;
    background-color: rosybrown;



}
#style2{

border: solid 2px;
    margin: -30px -30px 45px 25px;


    text-align: center;

    width: 150px;
    font-size: 25px;
    float: right;
    background-color:rgb(97, 35, 35);


}
#style3{


          border: solid 2px;
    margin: -30px -30px 45px 1000px;
    padding: -30px 100px 1000px ;

    
    text-align: center;


    width: 150px;
    font-size: 25px;
    float: right;
    background-color:rgb(199, 199, 13);
    margin-bottom: 70px 30px 30px 25px;
    height: auto;

}
p{

    float: left;
    font-style: italic;
    text-align: left;
    padding-bottom: 40px;

}